<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>DefinetlyNotNewPost</h1>
        </div>
    </header>

    <div class="content">
        <h1>Welcome to Dashboard</h1>
        <p class="highlight-text">Here you can manage your parcels!</p>

        <!-- Виведення посилок -->
        <ul>
            {% for parcel in parcels %}
                <li>
                    <strong>Parcel {{ loop.index }}:</strong><br>
                    <strong>From:</strong> {{ parcel.first_name }} {{ parcel.last_name }}<br>
                    <strong>Description:</strong> {{ parcel.description }}<br>
                    <strong>Destination:</strong> {{ parcel.destination }}<br>
                    <strong>Insurance:</strong> ${{ parcel.insurance_price }}<br>
                    <strong>Status:</strong> {{ parcel.status }}
                </li>
                <br>
            {% endfor %}
        </ul>

        <!-- Кнопки -->
        <div class="button-container">
            <a href="{{ url_for('add_parcel') }}" class="button-home">Add Parcel</a>
            <a href="{{ url_for('home') }}" class="button-home">Back to Home</a>
        </div>
    </div>
</body>
</html>

